.s-panel-title-container
  span.s-panel-title.h-panel-title
    | Experiments
  span.s-panel-controls
    if collapsed
      i.icon-down-open
    else
      i.icon-up-open
    if removeButton
      i.icon-cancel.s-remove-panel(data-target=`#${id}`)

- var attrs = {}
if !collapsed
  - attrs.class = 'in'
.s-panel-content.collapse&attributes(attrs)
  .status
    if !complete
      | Experiment: #{experiment}, Task: #{task} (#{running ? 'running' : 'suspended'})
    else 
      | Complete: go to the next Image

  .btn-group.h-experiment-control-buttons(role='group')
    button.btn.btn-default.h-toggle-experiment(type='button', disabled=complete title='Toggle experiment')
      if running
        span.icon-pause
      else
        span.icon-play
    button.btn.btn-default.h-advance-task(type='button', disabled=complete title='Advance to next task')
      span.icon-to-end
