.s-panel-title-container
  span.s-panel-title.h-panel-title
    | Experiments
  span.s-panel-controls
    if collapsed
      i.icon-down-open
    else
      i.icon-up-open
    if removeButton
      i.icon-cancel.s-remove-panel(data-target=`#${id}`)

- var attrs = {}
if !collapsed
  - attrs.class = 'in'
.s-panel-content.collapse&attributes(attrs)
  .status
    if !complete
      | Experiment: #{experiment}, Task: #{currentTask}
  .btn-group.h-experiment-control-buttons(role='group')
    button.btn.btn-default.h-toggle-task(type='button', disabled=complete title='Toggle Task')
      if running
        span.icon-pause
      else
        span.icon-play
  .task-list 
    each task, index in tasks.length ? tasks : ['There are no tasks']
      div
        label
          input.h-task-radio(id=`radio_${index}` value=index type='radio' checked=task===currentTask) 
          span 
            | #{task}
          
